SupermarketChain/packages
SupermarketChain/SupermarketChain/bin
SupermarketChain/SupermarketChain/obj
SupermarketChain/SupermarketChain.Oracle.Data/bin
SupermarketChain/SupermarketChain.Oracle.Data/obj
SupermarketChain/SupermarketChain.Oracle.DataAccess/bin
SupermarketChain/SupermarketChain.Oracle.DataAccess/obj