SupermarketChain/packages
SupermarketChain/SupermarketChain/bin
SupermarketChain/SupermarketChain/obj
SupermarketChain/SupermarketChainOracle.Data/bin
SupermarketChain/SupermarketChainOracle.Data/obj
SupermarketChain/SupermarketChainOracle.DataAccess/bin
SupermarketChain/SupermarketChainOracle.DataAccess/obj
SupermarketChain/SupermarketChainSQLServer.Data/bin
SupermarketChain/SupermarketChainSQLServer.Data/obj
SupermarketChain/SupermarketChainSQLServer.DataAccess/bin
SupermarketChain/SupermarketChainSQLServer.DataAccess/obj
SupermarketChain/ExcelSalesReports.DataAccess/bin
SupermarketChain/ExcelSalesReports.DataAccess/obj
SupermarketChain/SalesReportsGenerator/bin
SupermarketChain/SalesReportsGenerator/obj
SupermarketChain/ExpenseDataLoader/bin
SupermarketChain/ExpenseDataLoader/obj
SupermarketChain/SupermarketChainApp/bin
SupermarketChain/SupermarketChainApp/obj
SupermarketChain/SupermarketChainMySQL.Data/bin
SupermarketChain/SupermarketChainMySQL.Data/obj