SupermarketChain/packages
SupermarketChain/SupermarketChain/bin
SupermarketChain/SupermarketChain/obj
SupermarketChain/SupermarketChainOracle.Data/bin
SupermarketChain/SupermarketChainOracle.Data/obj
SupermarketChain/SupermarketChainOracle.DataAccess/bin
SupermarketChain/SupermarketChainOracle.DataAccess/obj
SupermarketChain/SupermarketChainSQLServer.Data/bin
SupermarketChain/SupermarketChainSQLServer.Data/obj
SupermarketChain/SupermarketChainSQLServer.DataAccess/bin
SupermarketChain/SupermarketChainSQLServer.DataAccess/obj
SupermarketChain/ExcelSalesReports.DataAccess/bin
SupermarketChain/ExcelSalesReports.DataAccess/obj